.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
h1 {
    text-align: center;
    font-size: 50px;
    color: #333;
}

h3 {
    text-align: center;
    font-size: 30px;
    color: #333;
}
.tranding {
	width:100%;
	text-align:center;
}

.searchContainer {
	width:74%;
	margin:auto;
}

.search {
	width:100%;
	height:40px;
	border: 4px solid #2c3;
	border-radius: 4px;
}

.search input {
	border:0;
	margin:0;
	padding:0;
	height:40px;
	width: calc(100% - 50px);
	font-size: 20px;
	font-weight:bold;
	line-height:20px;
	display:block;
	float:left;
	text-indent: 10px;
}

.search button {
	border:0;
	margin:0;
	padding:0;
	background: #2c3;
	color: #fff;
	height:40px;
	width: 50px;
	display:block;
	float:left;
	font-size: 20px;
	line-height:20px;
	cursor:pointer;
}

.previous {
	margin-top:5px;
	float:clear;
	clear:both;
}

.previous span {
	background: #eee;
	padding: 2px;
	margin: 3px;
	cursor:pointer;
}

.results {
	width:100%;
	margin:auto;
	text-align: center;
}

.gif {
	height: 200px;
	display:inline-block;
	margin: 5px;
    border-radius: 5px;
    overflow: hidden;
}
.gif img {
	height:100%;
	width: auto;
}

.pagination {
	text-align:center;
}

.pagination button {
	border: 0px;
    background: #2c3;
    color: #fff;
    height: 35px;
    font-size: 20px;
    margin: 5px 10px;
    border-radius: 4px;
	cursor:pointer;
}
